/* eslint-disable */

@import "tailwindcss";

@layer base {
    html, body, #app {
        background-color: #000;
        color: #fff;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}